<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-text color="light">
        <ion-text color="light" class="fw700">Add Category</ion-text>
      </ion-text>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button size="small" shape="round" color="medium" (click)="back()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="animated fadeIn login auth-page">
  <div class="theme-bg"></div>

  <ion-item>
    <ion-label position="floating" color="primary">
      <ion-icon name="albums" item-start></ion-icon>
      Category Name
    </ion-label>
    <ion-input color="secondary" [(ngModel)]="category.Name"></ion-input>
  </ion-item>

  <ion-button icon-left size="medium" expand="full" shape="round" color="dark" tappable (click)="addCategory()">
    <ion-icon name="add"></ion-icon>
    Add
  </ion-button>
</ion-content>