<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button color="secondary"></ion-menu-button>
      </ion-buttons>
      <ion-title>
        <ion-text color="light">
          <ion-text color="light" class="fw700">Create Service</ion-text>
        </ion-text>
      </ion-title>
      <ion-buttons slot="end">
        <ion-button size="small" shape="round" color="medium" (click)="back()">
          <ion-icon name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Category</ion-label>
    <ion-select placeholder="Select One" [(ngModel)]="listing.CategoryId" (ionChange)="filterService()">
      <ion-select-option *ngFor="let category of categoryService.categoryList" value="{{category.Id}}">{{category.Name}}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Service</ion-label>
    <ion-select placeholder="Select One" [(ngModel)]="listing.ServiceId">
      <ion-select-option *ngFor="let service of filteredServices" value="{{service.Id}}">{{service.Name}}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="floating">
      <ion-icon name="filing" item-start></ion-icon>
      Title
    </ion-label>
    <ion-input color="secondary" type="text" [(ngModel)]="listing.Title"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">
      <ion-icon name="filing" item-start></ion-icon>
      Description
    </ion-label>
    <ion-input color="secondary" type="text" [(ngModel)]="listing.Description"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">
      <ion-icon name="filing" item-start></ion-icon>
      Rate Per Hour
    </ion-label>
    <ion-input color="secondary" type="number" [(ngModel)]="listing.RatePerHour"></ion-input>
  </ion-item>
  <ion-tab-button (click)="addListing()">
    <ion-icon name="add"></ion-icon>
    <ion-label>Add</ion-label>
  </ion-tab-button>
</ion-content>