<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-text color="light">
        <ion-text color="light" class="fw700">Receipt</ion-text>
      </ion-text>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button size="small" shape="round" color="medium" (click)="back()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-item>
    <ion-label>Freelancer : {{deal.To}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Requestor : {{deal.From}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Title : {{deal.Title}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Start Date : {{deal.StartDate}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Complete Date : {{deal.CompleteDate}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Description : {{deal.Description}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Price : {{deal.Offer}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Status : {{deal.Status}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Date Accepted : {{deal.ChangeDate}}</ion-label>
  </ion-item>
</ion-content>