<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-text color="light">
        <ion-text color="light" class="fw700">Category</ion-text>
      </ion-text>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button size="small" shape="round" color="medium" (click)="notifications()">
        <ion-icon name="notifications"></ion-icon>
        <ion-badge color="dark" slot="end">{{notificationCount}}</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="dark">
    <img src="https://firebasestorage.googleapis.com/v0/b/itsolution-9e9a9.appspot.com/o/image%2Fflow.png?alt=media&token=5a57fdd7-c4e4-4f3b-8feb-0d6ecb664dcd" alt="">  
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let category of categoryService.categoryList">
      <ion-item (click)="showServiceList(category)">
        <ion-thumbnail slot="start">
          <img [src]="category.Image">
        </ion-thumbnail>
        <ion-label>{{category.Name}}</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="removeCategory(category)">Remove</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <!--
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addCategory()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  -->
</ion-content>